<div id="nav-overlay" class="nav-overlay" role="navigation" aria-hidden="true">
    
    <button id="close-nav" aria-label="Close Navigation Menu">
        &times;
    </button>

    <div class="overlay-content">
        <ul>
            <li><a href="/index.html" class="nav-link">Home</a></li>
            
            <li><a href="/creations.html" class="nav-link">Our Creations Showcase</a></li>
            <li><a href="/faq.html" class="nav-link">FAQ</a></li>
            <li><a href="/contact-us.html" class="nav-link">Contact Us</a></li>
        </ul>
    </div>
</div>
